@charset "UTF-8";

@media screen and (min-width: 769px){

    /* Header/Menu */
    .interface {
        padding: 40px;
    }

    nav {
        display: block;
    }

    header .contatoButton {
        display: block;
    }

    menu {
        display: none;
    }

    header span {
        display: none;
    }

    /* Home Page */
    section#home {
        flex-flow: row nowrap;
    }

    section#home article {
        width: 60%;
    }
    
    section#home aside {
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
        margin-right: 100px;
    }

    section#home h1 {
        text-align: justify;
        margin: 22px;
    }

    /* Sobre Page */
    section#sobre {
        margin: 150px;
        margin-left: -10px;

        flex-flow: row nowrap;
        
        align-items: center;
    }

    section#sobre aside {
        margin-right: 10px;
    }

    /* Serviços Page */
    section#servicos {
        padding-top: 40px;
    }

    section#servicos article {
        flex-flow: row wrap;
    }

    section#servicos aside {
        width: 300px;
        height: 350px;
    }

    /* Projetos page */
    section#projetos  article {
        flex-flow: row nowrap;
        align-content: center;
        justify-content: space-around;
        gap: 0px;
    }

}