@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* KEYFRAMES */
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/* Estilos */

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.interface {
    display: non;
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* Header */

header {
    padding: 10px 40px 20px 0px;
}

header > div#logo > img:hover{
 transform: scale(110%);
}

/* Desktop */

nav {
    display: none;
}

nav a {
    color: #b4b4b4;
    text-decoration: none;
    padding: 5px 25px;
    font-weight: bold;
}

nav a:hover {
    transition: all 0.5s;
    transform: scale(110%);
    color: #5e2ec4;
    border-bottom: 5px solid #5e2ec4;
    border-radius: 5px;
}

header .contatoButton {
    display: none;
    padding: 7px 30px;
    border: 3px solid #6b3d91;
    border-radius: 15px;
    color: #6b3d91;
    text-decoration: none;
}

header .contatoButton:hover {
    background-color: #6b3d91;
    color: white;
    transition: all 0.5s;

}

/* Mobile */

menu {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%);

    width: 220px;
    text-align: center;
    padding: 20px;
    background-color: #2b126193;
    border-radius: 20px;
}

span:hover {
    cursor: pointer;
}

menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 90%;
    padding: 7px;
    border-bottom: 3px solid #3a1192;
}

menu a:hover {
    background-color: #3a1192;

    border-radius: 20px;
    transition: all 0.5s;
}

/* Home page */

section#home {
    margin: auto;
    padding: 15px;

    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    gap: 70px;
}

section#home  h1 {
    color: white;
    text-align: center;
    font-size: 1.9em;
}

section#home span {
    color: #6b3d91;
}

section#home p {
    margin: 20px;
    margin-bottom: 30px;
    color: white;
}

section#home .contatoButton {
    padding: 12px 30px;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #3c1e55;
    box-shadow: 0px 0px 12px #3c1e55, 0px 0px 6px #3c1e55;
    border-radius: 20px;
}

section#home .contatoButton:hover{
    background-color: #261733;
    transition: all 0.5s;
    color: rgb(160, 156, 156);
}