@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* KEYFRAMES */
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/* Estilos */

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.interface {
    display: non;
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* Header */

header {
    padding: 10px 40px 20px 0px;
}

header > div#logo > img:hover{
 transform: scale(110%);
}

/* Desktop */

nav {
    display: none;
}

nav a {
    color: #b4b4b4;
    text-decoration: none;
    padding: 5px 25px;
    font-weight: bold;
}

nav a:hover {
    transition: all 0.5s;
    transform: scale(110%);
    color: #5e2ec4;
    border-bottom: 5px solid #5e2ec4;
    border-radius: 5px;
}

header .contatoButton {
    display: none;
    padding: 7px 30px;
    border: 3px solid #6b3d91;
    border-radius: 15px;
    color: #6b3d91;
    text-decoration: none;
}

header .contatoButton:hover {
    background-color: #6b3d91;
    color: white;
    transition: all 0.5s;

}

/* Mobile */

menu {
    display: none;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%);

    width: 220px;
    text-align: center;
    padding: 20px;
    background-color: #2b126193;
    border-radius: 20px;
}

header span:hover {
    cursor: pointer;
}

menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 90%;
    padding: 7px;
    border-bottom: 3px solid #3a1192;
}

menu a:hover {
    background-color: #3a1192;

    border-radius: 20px;
    transition: all 0.5s;
}

/* Home page */

section#home {
    margin: auto;
    padding: 15px;

    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    gap: 70px;
}

section#home  h1 {
    color: white;
    text-align: center;
    font-size: 1.9em;
}

section#home span {
    color: #6b3d91;
}

section#home p {
    margin: 20px;
    margin-bottom: 30px;
    color: white;
}

section#home .contatoButton {
    padding: 12px 30px;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #3c1e55;
    box-shadow: 0px 0px 12px #3c1e55, 0px 0px 6px #3c1e55;
    border-radius: 20px;
}

section#home .contatoButton:hover{
    background-color: #261733;
    transition: all 0.5s;
    color: rgb(160, 156, 156);
}

/* Sobre Page */
section#sobre {
    padding: 15px;
    padding-top: 100px;
    width: 90%;
    margin: auto;
    color: white;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section#sobre h1 {
    font-size: 2em;
}

section#sobre span {
    color: #6b3d91;
    display: block;
}

section#sobre button {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    border: none;
    background-color: #3c145e;
    margin: 0px 5px;
}

section#sobre button:hover {
    background-color: #6b3d91;
    color: white;
    transform: scale(1.05);
    transition: all 0.5s;
    cursor: pointer;
}

/* Serviços Page */
section#servicos {
    margin: auto;
    padding: 15px;
    padding-top: 100px;
    width: 90%;
}

section#servicos h1 {
    color: white;
    font-size: 2em;
    text-align: center;
}

section#servicos span {
    color: #6b3d91;
}

section#servicos article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

section#servicos aside {
    margin-top: 35px;
    color: white;
    padding: 15px;
    border-radius: 25px;
    height: 330px;
}

section#servicos aside:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.37) ;
    transition: all 0.5s;
}

section#servicos svg {
    color: #6b3d91;
    height: 70px;
    width: 70px;
}

section#servicos h2 {
    font-size: 1.3em;
    margin: 15px 0px;
}

section#servicos p {
    color: rgb(199, 199, 199);
}

/* Projetos Page */
section#projetos {
    margin: auto;
    padding: 15px;
    padding-top: 100px;
    width: 90%;
    color: white;
}

section#projetos > h1 {
    font-size: 2em;
    text-align: center;
}

section#projetos span {
    color: #6b3d91;
}

section#projetos article {
    width: 100%;
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    gap: 80px;
}

section#projetos aside {
    margin-right: 200px;
    height: 460px;
    width: 360px;
    background-color: #6b3d91;
    border-radius: 25px;
    position: relative;

    background-size: cover;
    background-position: 100% 0%;
    overflow: hidden;
    margin-top: 60px;
}

section#projetos aside:hover {
    background-position: 100% 100%;
    transition: 6s;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.534);
    color: rgb(204, 203, 203);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: all 1s;
    cursor: pointer;
}


/* Contato page */
section#formulario {
    margin: auto;
    padding: 80px 4%;
    padding-top: 100px;
    width: 90%;
    color: white;
} 

form {
    padding: 10px;
    padding-right: 50px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 10px;
}

form input, form textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    font-size: 0.9em;
    border: 0;
    border-radius: 10px;
    outline: 0;
    padding: 20px 15px;
}

form textarea {
    height: 140px;
}

form textarea::placeholder {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

#botaoEnviar {
    width: 120px;
    margin: auto;
    background-color: #6b3d91;
}

#botaoEnviar:hover {
    background-color: #3c1e55;
    cursor: pointer;
    box-shadow: 0px 0px 12px #3c1e55;
    transition: all 1s;
}